<div class="col-md-6">
  <h2 class="text-center">Tambah Karyawan</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Nama:</label>
      <input type="text" formControlName="name" placeholder="Nama" name="name" class="form-control" id="name">
    </div>

    <div class="form-group">
      <label for="firstName">Umur:</label>
      <input formControlName="age" placeholder="Umur" name="age" class="form-control" id="age">
    </div>

    <div class="form-group">
      <label for="lastName">Active:</label>
      <input formControlName="active" placeholder="Active" name="active" class="form-control" id="active">
    </div>

     <div class="form-group">
      <label for="firstName">Jabatan:</label>
      <input formControlName="jabatan" placeholder="Jabatan" name="jabatan" class="form-control" id="jabatan">
    </div>

    <div class="form-group">
      <label for="lastName">Divisi:</label>
      <input formControlName="divisi" placeholder="Divisi" name="divisi" class="form-control" id="divisi">
    </div>

    <button class="btn btn-success">ADD</button>
  </form>
</div>
